.dialog-window {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.dialog-paper {
    min-width: 80vh;
}

.card-content {
    flex-direction: column;
    border-radius: 2rem;
    padding: 0;
}

.card-content-box {
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #f3e9d7 ;
}

.card-title-pokemon-style {
    font-family: 'Pokemon Solid', sans-serif !important;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    letter-spacing: .4rem !important;
}

.card-image {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    border-color: transparent;
}

.tab-wrapper {
    width: 100%;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    background-color: #f9f4eb !important;
}

.tab-content {
  min-height: 28vh;
  max-height: 28vh;
  overflow-y: auto;
}

.pre-wrapper {
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 0.2rem;
}

.chip-root {
    margin: 0 .25rem;
}

.flex-column {
    gap: 1em;
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
    gap: 4rem;
    padding: 1rem;
}

.gradient-sm {
  background-image: linear-gradient(
        to bottom right,
        var(--color1) 0%,
        var(--color1) 25%,
        var(--color2) 60%,
        var(--color2) 100%
    );
}

.MuiCardContent-root {
    padding: 0px !important;
}

.MuiPaper-root {
  box-shadow: none !important;
}

.spacing {
  margin: 0.3rem 0rem 0.5rem 0rem;
}