.evolution-img {
    max-width: 100% !important;
    width: auto;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #DEB887;
    margin: 0.5rem 0rem;
    padding: 0.2rem;
}