.pokemon-info-container {
    display: block;
    width: 70%;
}

.pokemon-info-wrapper {
    padding: 1.5rem;
    margin: 1rem;

    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    /*Fade in Effect smooth transitions*/
    transition: transform 0.15s linear;
    flex-direction: column;
    overflow: auto;
    border-style: solid;
    border-radius: 0.5rem;
}

.pokemon-info-wrapper:hover {
    cursor: pointer;
    transform: scale(1.05); /* Scaling effect on hover */
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.pokemon-img-div {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.1rem;
}

.pokemon-img-div img {
   width: auto;
   max-width: 100%;
   object-fit:cover;
}

.pokemon-image-row {
    padding: 0.5rem 0rem;
    flex-wrap: nowrap;
    gap: 0.2rem;
}

.pokemon-image-row img {
    flex: 1 1 calc(30% - 20px);
    max-width: calc(30% - 20px);
    height: auto;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.pokemon-title {
    padding-top: 0.5rem;
    margin-bottom: 0.7rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}

.stats-wrapper {
    text-align: center;
    padding-top: 1rem;
    flex-direction: row;
}

.stats-title {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.info-title {
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.info-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.chip-info {
    text-align: center;
    padding: 0.5rem 0.8rem;
    margin-top: 0.3rem;
    border: 0.1rem solid black !important; 
    border-radius: 5px;
}