/*----------------------------------------------------------------------------
		Buttons
----------------------------------------------------------------------------- */

.btn-group{
    display: flex;
    position: fixed;
    bottom: 0;
}

.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 1rem ;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

/*----------------------------------------------------------------------------
		Left and Right Content
----------------------------------------------------------------------------- */
.split-screen {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    position: absolute;
}

.left-content{
    flex: 1;
    text-align: center;
    margin: 1rem 0rem 0rem 5rem;
}

.right-content{
    flex: 1;
    position: fixed;
    right: 1rem;
    top: 11rem;
    align-content: center;
}

::-webkit-scrollbar {
    display: none;
}