/*----------------------------------------------------------------------------
		Chip Types Design
----------------------------------------------------------------------------- */

.chip-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1em;
    height: 65%;
    margin: 10rem 4rem 2rem 9rem;
    z-index: 5;
}

.chip {
    background-color: #e0e0e0;
    border-radius: 1rem;
    padding: 0.6rem 1.25rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: -webkit-transform 0.15s linear;
}

.chip:hover,
.chip:focus {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    position: relative;
    z-index: 5;
}

@media (max-width: 1024px) {
    .chip-container {
        gap: 0.5rem;
    }

    .chip {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 768px) {
    .chip-container {
        gap: 0.375rem;
    }

    .chip {
        padding: 0.375rem 0.75rem;
    }
}